<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Createpage</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><h2>{{ message }}</h2></center>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<body>
    <div>
        <form method="post">
            <div>
                <hl>Account Registration</hl><br><br>
                <label>Username:</label>
                <input type="text" placeholder="enter user name" name="uname"><br><br>
                <label>Email:</label>
                <input type="email" placeholder="ex:m@gmail.com" name="email" ><br><br>
                <label>Password:</label>
                <input type="password" placeholder="enter password" name="pwd"><br><br>
                <label>Confirm Password:</label>
                <input type="password" placeholder="enter password" name="cpwd"><br><br>
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>
</html>