<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTPpage</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><h2>{{ message }}</h2></center>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<body>
    <div>
        <form method="post">
            <div>
                <h1>OTP</h1>
                <label>enter otp</label>
                <input type="text" placeholder="ex:A0g12" name="otp" ><br><br>
                <button>submit</button>
            </div>
        </form>
    </div>
</body>
</html>